@import "tailwindcss";


@theme {
  --color-background: #0f172a;
  --color-foreground: #f8fafc;
  --color-primary : #60a5fa;
  --color-primary-DEFAULT: #60a5fa;
  --color-primary-dark : #3b82f6;
  --color-primary-400 : #7ab6ff;
  --color-primary-500: #5da0f3;
  --color-primary-600 : #3178cf;
  --color-gray-800 : #0f172a;
  --color-gray-900 : #1f2937;
  --color-muted : #334155;
  --color-muted-DEFAULT : #334155;
  --color-gray-foreground : #94a3b8;
  --color-border: #1e293b;
  --font-sans: 'Lato', 'sans-serif';

}